.header {
  box-shadow: none !important;
  padding:1rem .5rem;
}

.header svg {
  fill: #fff;
}
.header svg:hover {
  fill: #ffffffb4 !important;
}


.header p {
  color: #fff !important;
}

.header p:hover {
  color: #ffffffb4 !important;
}

.profile-wrapper > p {
  font-size: 1.2rem;
  font-weight: 500;
  margin-right: 5px;
}
