@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}



body{
  display:flex;
  flex-direction:column;
}

.assets-loading{
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center center;
}

img{
  background: url("./assets/background.svg") center center no-repeat;
}

.cavalier-btn-default {
  @apply bg-transparent text-white font-semibold !important;
}
.cavalier-btn-primary {
  @apply bg-golden text-white font-medium !important;
  /* @apply bg-red-400 text-white !important; */
}
